@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
body{
  background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
/* .logo{
    background-color: antiquewhite;
} */
nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height:65px;
    background-color: black;
    color: wheat;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}


.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', 'sans-serif';
    display: flex; /* Flexbox for alignment */
    justify-content: flex-end; /* Move song list to the right */
    align-items: center; /* Vertically center the content */
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg"); /* Your background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; /* Keep the design on the left */
}

.bottom{
    position: sticky;
    height: 130px;
    background: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;

}

.songItemContainer{

    margin-top:74px ;
}
.songItem {
    height: 70px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}




.songList {
    width: 40%; /* Adjust the width */
    text-align: left; /* Align text inside */
    background-color: rgba(0, 0, 0, 0.6); /* Optional: Add transparency if needed */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 12px; /* Smooth corners */
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', 'sans-serif';
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media (max-width: 480px) {
    .songItem {
        width: 100%;
    }

    .songList {
        width: 100%; /* Full width */
        padding: 15px;
    }
}